/* Para pantallas de más de 748px no requiere media queries */


/* Establecer valores por defecto */
* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/* Establer la variable para el color */
:root {
    --color: #4A628A;
}

body {
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0 auto; 
    background-color: #DFF2EB;
}

/* Establecer reglas de estilo para el encabezado */
header {
    background-color: #4A628A;
    /* width: 1000px; */
    height: 50px;
    margin: 20px auto 20px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 15px;
    width: 90%;
}

header a {
    color: #fff;
}

header a:hover {
    color: #4A628A;
}

/* Establecer elementos del encabezado como bloques en línea */
header div {
    width: 150px;
    display: inline-block;
    background-color: #4A628A;
}

/* Dar estilos al encabezado cuando el usuario posicione el curson en el elemento del mismo */
header div:hover {
    background-color: #B9E5E8;
    color: #4A628A;
}

/* # Dar estilos a caja que contiene la caja de información y formulario */
.section {
    /* width: 1000px; */
    height: 500px;
    margin: 0px auto 20px auto;
    text-align: center;
    width: 90%;
}

/* Dar estilos a la caja de información y del formulario */
.section__informacion,
.section__boletines {
    width: 490px;
    height: 400px;
    background-color: #B9E5E8;
    display: inline-block;
    vertical-align: top;
    margin: 0px auto;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 0px 50px -10px rgba(0, 100, 255, 0.5);
    padding: 30px;
}

.section__informacion--subtitulo,
.section__formulario--subtitulo {
    color: #4A628A;
    margin: 20px 0px;
}

.section__lista {
    padding: 20px;
}

.section__lista--item {
    list-style-position: inside;
    list-style-type: none;
}

.section__boton { /* Dar estilos al elemento botón "saber más"  */
    margin: 40px 0px 0px 120px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--color);
    bottom: 20px;
    color: var(--color);
    font-size: 18px;
    font-weight: bolder;
}

.section__formulario--usuario, 
.section__formulario--contrasena {
    position: relative;
}

label[for="Contraseña"],
label[for="Contraseña"] {
    position: absolute;
    
}

input[type="text"],
input[type="email"] {
    position: absolute;

}






/* La siguientes reglas aplican para pantallas 748px o menos */
@media (max-width: 748px) {
    
    
}
